.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    /*width: 100vw;*/
    width: 100%;
    /*height: 100%;*/
    height: 80vh;

}
.loaderWrapperMobile {
    width: 100vw;
}
